.container1280{
    width: 1280px;
    margin: 0 auto;

    // Macbook
    @media only screen and (max-width: 1280px){
        width: 960px;
    }

    // iPad
    @media only screen and (max-width:960px){
        width: 640px;
    }

    // iPhone
    @media only screen and (max-width:640px){ 
        width: 100%;
    }

}

.category{
    text-align: center;
    padding-top: 130px;

    // iPhone
    @media only screen and (max-width:640px){ 
        padding-top: 65px;
    }

    h2{
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 60px;
        font-weight: 500;
        margin: 0;

        // iPhone
        @media only screen and (max-width:640px){
            padding: 0 20px; 
            font-size: 24px;
        }
    }
}

.project{
    padding-bottom: 130px;
    
    h3{
        text-transform: uppercase;
        margin-top: 0;
        padding-top: 70px;
        margin-bottom: 15px;
        font-weight: 200;
        font-size: 36px;
        letter-spacing: 1px;

        // iPhone
        @media only screen and (max-width:640px){ 
            padding: 0 20px;
            padding-top: 30px;
            font-size: 18px;
        }
    }

    h4{
        font-family: Georgia, serif;
        font-style: italic;
        padding-bottom: 50px;
        font-size: 20px;

        // iPhone
        @media only screen and (max-width:640px){
            padding: 0 20px; 
            padding-bottom: 25px;
            font-size: 14px;
        }
    }

    .project-image{
        width: 100%;

        // iPhone
        @media only screen and (max-width:640px){ 
            width: 90%;
        }
    }
}