header{
    width: 100%;
    height: 100%;
    background-color: white;

    .header-content{
        position: relative;
        height: 380px;
        top: calc(50% - 190px);

        // iPhone
        @media only screen and (max-width:640px){ 
            height: 330px;
            top: calc(50% - 140px);
        }

        .logo{
            width: 260px;

            // iPhone
            @media only screen and (max-width:640px){ 
                width: 170px;
            }
        }

        h1{
            font-family: Georgia, serif;
            font-style: italic;
            color: $grey;
            font-size: 32px;
            margin-top: 100px;
            margin-bottom: 0;

            // iPhone
            @media only screen and (max-width:640px){ 
                margin-top: 50px;
                font-size: 24px;
                padding: 0 20px;
            }
        }
    }

    .arrow{
        position: absolute;
        bottom: 20px;
        text-align: center;
        width: 100%;
        animation-name: upAndDown;
        animation-iteration-count: infinite;
        animation-duration: 2s;

        img{
            cursor: pointer;
            width: 25px;
        }
    }

    @keyframes upAndDown{
        0%{ bottom: 20px; }
        50%{ bottom: 10px; }
        100%{ bottom: 20px; }
    }  
}