.mobile-nav-toggle{
    width: 40px;
    position: fixed;
    top: 10px;
    left: 15px;
    cursor: pointer;
    display: none;

    // iPhone
    @media only screen and (max-width:640px){ 
        display: block;
    }
    
    .bar{
        transition: .2s all;
        display: block;
        background-color: #999999;
        width: 100%;
        height: 5px;
        margin: 7px 0;

        &.white{
            background-color: white;
        }
    }
}

#mobile-nav{
    .menu{
        list-style-type: none;
        color: white;
        padding: 0;
        margin: 0;
        text-align: center;
        padding: 40px 20px;

        li{
            line-height: 20px;
            padding: 10px 0;
            font-size: 18px;

            &.cat{
                text-transform: uppercase;
            }

            &.devider{
                border-top: 1px solid white;
                padding: 0;
                margin: 20px;
            }
        }

        a{
            color: white;

            &:active, &:hover, &:focus{
                text-decoration: none;
            }
        }
    }
}