.overlay{
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;

    .popup-content{
        background-color: white;
        position: relative;
        top: calc(50% - 300px);
        margin: 0 auto;
        width: 550px;
        height: 600px;
        padding: 50px 40px;
        box-shadow: 5px 5px 15px rgba(0,0,0,.3);

        // iPhone
        @media only screen and (max-width:640px){ 
            width: 90%;
            top: calc(50% - 220px);
            height: 430px;
            padding: 30px;
        }

        h5{
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 22px;
            margin-top: 50px;

            // iPhone
            @media only screen and (max-width:640px){ 
                margin-top: 20px;
            }
        }
        
        p{
            font-family: Georgia, serif;
            font-style: italic; 
            color: $grey;
            line-height: 24px;

            a{
                color: $yellow;
            }
        }

        .logo{
            width: 120px;

            // iPhone
            @media only screen and (max-width:640px){ 
                width: 80px;
            }
        }

        .close-icon{
            &:hover{
                color: $grey;
            }
            color: #CCC;
            transition: 0.2s all;
            position: absolute;
            top: 0;
            right: 30px;
            font-size: 54px;
            line-height: 64px;
            cursor: pointer;

            // iPhone
            @media only screen and (max-width:640px){ 
                right: 20px;
                line-height: 60px;
            }
        }
    }
    
}